{% extends 'todo/base.html' %}
{% block content %}
    <div class="row mt-4">
        <div class="col">
            <h2>Add TO-DO Item</h2>
            <form action="add_todo/" method="POST" class="form-inline">
                {% csrf_token %}
                <input type="text" class="form-control mb-2 mr-sm-2" name="todo" placeholder="type here...">
                <button type="submit" class="btn btn-success mb-2">Add</button>
            </form>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <ul class="list-group">
                {% for todo in todos %}
                    <li class="list-group-item">
                        {{ todo.content }}
                        <div class="float-right">
                        <form action='delete_todo/{{todo.id}}/' method='POST'>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-danger mb-2">Delete</button>
                        </form>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}