{% extends 'todo/base.html' %}
{% block content %}
    <div class="row mt-4">
        <div class="col">
            <h2>Add TO-DO Item</h2>
            <form action="" class="form-inline">
                <input type="text" class="form-control mb-2 mr-sm-2" name="todo" placeholder="type here...">
                <button type="submit" class="btn btn-success mb-2">Add</button>
            </form>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item">TO-DO Item 1</li>
                <li class="list-group-item">TO-DO Item 2</li>
                <li class="list-group-item">TO-DO Item 3</li>
                <li class="list-group-item">TO-DO Item 4</li>
                <li class="list-group-item">TO-DO Item 5</li>
            </ul>
        </div>
    </div>
{% endblock %}